.conteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bouton {
    background-color: #F59E0B;
    font-family: var(--font-cinzel);
    color: aliceblue;
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    position: relative;
    animation: clignotement 4s infinite;
    transition: all 0.3s ease;
}

@keyframes clignotement {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes clignotement-couleur {
    0% {
        background-color: #F59E0B;
    }

    50% {
        background-color: #fbbf24;
    }

    100% {
        background-color: #F59E0B;
    }
}

.bouton:hover {
    transform: scale(1.05);
    animation: none;
}

.texte {
    margin-bottom: 1.5em;
}

@media (max-width: 768px) {
    .conteneur {
        padding: 15px;
        max-width: 95%;
    }

    .titre {
        font-size: 2rem;
    }

    .texte {
        font-size: 1rem;
    }

    .bouton {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .titre {
        font-size: 1rem;
    }

    .texte {
        font-size: 0.75rem;
    }

    .bouton {
        font-size: 0.85rem;
        padding: 8px 16px;
    }
}